<div class="bg-grey-4 white pv4">
  <div class="ph3 mw7 center tc pb3">
    {{ if .intro.heading }}
    <h2 class="f3 b lh-title mb2 hideme">{{.intro.heading}}</h2>
    {{ end }}
    <p class="center mb4 mw6 hideme">{{.intro.text}}</p>

    <div class="flex-ns mhn2-ns mb3">
      {{ range .items }}
      <div class="ph2-ns w-33-ns">
        <img src="{{.image}}" alt="" class="center db mb3 hideme" style="max-width: 220px">
        {{if .heading }}<h3 class="b f6 mb1 pr4 pl4 lh-title hideme">{{.heading}}</h3>{{ end }}
        <p class="small tl hideme">{{.text}}</p>
      </div>
      {{ end }}
    </div>

    {{ if .outro.text }}
    <p class="center mb4 mw6 hideme">{{.outro.text}}</p>
    {{ end }}

    {{ if .outro.link }}
    <div class="hideme">
      <div class="center tc f6 b module-border-wrap">
        <a href="{{.outro.link}}" class="no-underline">
          <div class="module">
            Learn more
          </div>
        </a>
      </div>
    </div>
    {{ end }}
  </div>
</div>
