<!-- Contact -->
<div class="mb4">
  <h4 class="f3 b lh-title mb3">Contact us</h4>

  <form name="contact" method="POST" data-netlify="true">
    
    <fieldset>
      <input type="text" id="name" name="name" placeholder="Name" class="w-100 mb2">
      <label for="name">Name</label>
    </fieldset>
  <!-- Email -->
    <fieldset>
      <input type="email" id="email" name="email" placeholder="Email" class="w-100 mb2">
      <label for="email">Email</label>
    </fieldset>
    <!-- Message -->
    <fieldset>
      <textarea id="message" name="message" placeholder="Your message" rows="8" cols="80" class="w-100"></textarea>
      <label for="message">Your message</label>
    </fieldset>
    <!-- Button -->
    <div>
      <!-- <button type="submit" class="btn w-100 w-auto-ns raise"><p class="f6 small mb0 ph4">Send</p></button> -->
      <button type="submit" class="bg-grey-4 pa0 w-100">
        <div class="tc f6 b module-border-wrap">
          <div class="module">
            Send
          </div>
        </div>
      </button>
    </div>
  </form>
</div>
