<div class="db" style="overflow: hidden;">
  <div class="pv5 pv6-l ph3 bg-center cover fade-1 zoom" style="background-image: url('{{.imageUrl}}'); height:97vh;">
    <div class="mw7 center pv6 cover-content">
      <div class="db">
        <div class="mw6 relative bg-fix-primary center tc">
          <img src="/img/logo.svg" alt="Mantra Bio logo" class="br0 db mt5 mb2 mw5 center fade-2"/>
          <h1 class="f2 f2-l di lh-title white mw6 fade-3">
            {{.title}}
          </h1>
          <a href="#intro"><img src="/img/icon-scroll.svg" class="grow br0 db pv4 center fade-5" /></a>
        </div>
        <!-- <div class="mw7 relative bg-fix-primary center tc">
          {{ if .subtitle }}
          <p class="f4 di lh-title mb3 white mw6">
            {{.subtitle}}
          </p>
          {{ end }}
        </div> -->
      </div>
    </div>
  </div>
</div>