<footer class="bg-black pv2 ph2 mb2 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">

			<div>
				<p class="small grey-3">&copy; Mantra Bio | info@mantrabio.com</p>
			</div>

			<div>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="/app.js"></script>
