<div class="pv5 pv6-l ph3 bg-center cover fade-1" style="background-image: url('{{.imageUrl}}')">
  <div class="mw7 center ph3 tc">
    <div class="db mb3">
      <div class="mw7 relative bg-fix-primary mb3 center">
        <h1 class="f2 f1-l b di lh-title mb3 white mw6 tc fade-2">
          {{.title}}
        </h1>
      </div>
      <div class="mw7 relative bg-fix-primary center fade-3">
        {{ if .subtitle }}
        <p class="f4 di lh-title mb3 white mw6 tc">
          {{.subtitle}}
        </p>
        {{ end }}
      </div>
    </div>
  </div>
</div>
<div class="gradient-divider fade-1"></div>