<div class="flex-ns mhn3-m mw7 center">

  <div class="ph3-m w-50-ns order-last-ns white mt4">
    <h3 class="f3 b lh-title mb1">{{.heading}}</h3>
    <p>{{.text | markdownify}}</p>
    {{ if .link }}
    <div class="mb3">
      <div class="tc f6 b module-border-wrap">
        <a href="{{.link}}" class="no-underline">
          <div class="module">
            {{.linklabel}}
          </div>
        </a>
      </div>
    </div>
    {{ end }}
  </div>

  <div class="ph3-m w-50-ns pr3-ns">
    <img src="{{.imageUrl}}" alt="" class="db mb0 br0">
  </div>

</div>
