<div id="stick-here"></div>
<div id="stickThis">

	<div class="gradient-divider"></div>
	<nav id="nav-alt" class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-black divider-grey absolute z-999 w-100">

		<!-- Centered Nav -->
		<ul class="flex b white tc center">
			<li><a href="/science" class="pa3 no-underline db">Science</a></li>

			<li><a href="/partnering" class="pa3 no-underline db">Partnering</a></li>
			
			<li><a href="/team" class="pa3 no-underline db">Team</a></li>

			<li><a href="/news" class="pa3 no-underline db">News</a></li>

			<li><a href="/careers" class="pa3 no-underline db">Careers</a></li>		

			<li><a href="/contact" class="pa3 no-underline db">Contact</a></li>
		</ul>

	</nav>
</div>

<script type="text/javascript">
	window.onload = function(){
		document.getElementById("nav-main").classList.add('remover');
	}
</script>