{{ define "main" }}

{{ partial "header" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

<div class="mw7 center ph3 fade-4">

  <div class="center tc pb4">
  	<div class="mw6 mt3 center">
  		<div id="grnhse_app"></div>
  	</div>
  </div>

</div>

<script src="https://boards.greenhouse.io/embed/job_board/js?for=mantrabio"></script>

<script type="text/javascript">
	window.setTimeout(checkCookie, 10);

	function checkCookie() {
	  var src = getCookie("gh_src");
	  if (src != "") {
	    //alert("gh_src = " + src);
	    let url = new URL(window.location);
		if (url.searchParams.get('gh_src')) {
			//alert("present");
		} else if (!window.location.hash) {
			var params = url.searchParams;
			params.append('gh_src', src);
			url.search = params.toString();
			var purl = url.toString();
			window.location.href = purl;
		}
	  }
	}

	function getCookie(cname) {
	  var name = cname + "=";
	  var ca = document.cookie.split(';');
	  for(var i = 0; i < ca.length; i++) {
	    var c = ca[i];
	    while (c.charAt(0) == ' ') {
	      c = c.substring(1);
	    }
	    if (c.indexOf(name) == 0) {
	      return c.substring(name.length, c.length);
	    }
	  }
	  return "";
	}

</script>

{{ end }}
