{{ define "main" }}

{{ partial "header" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle ) }}

<div class="mw7 center ph3 fade-4">

	{{ partial "media-block" (dict "imageUrl" .Params.intro.image "heading" .Params.intro.heading "text" .Params.intro.description) }}


	{{ with .Params.approach }}
	<div class="mw7 center tc white shadow-b pb3">
	  <div class="mw7 ph3 mb3">
	    <h3 class="f3 b lh-title mb2 hideme">{{ .heading }}</h3>
	    <p class="center hideme">{{ .before }}</p>

	    <div class="hideme">
			<div id="largeloop"><img src="/img/approach-hyperloop.svg" class="mb3" /></div>
			<div id="smallloop"><img src="/img/approach-hyperloop-small.svg" class="mb3" /></div>    	
	    </div>

	    <p class="center hideme">{{ .after }}</p>
	  </div>
	</div>
	{{ end }}

	{{ partial "media-block-reverse-alt" (dict "imageUrl" .Params.outro.image "heading" .Params.outro.heading "text" .Params.outro.description "link" .Params.outro.link "linklabel" .Params.outro.linklabel) }}


	<!-- Full-width image -->
	<!-- <img src="{{ .Params.full_image }}" alt="" class="db w-100"> -->

</div>

{{ end }}
