{{ define "main" }}

<style type="text/css">#nav-main { opacity:0; }</style>

<script type="text/javascript">
	window.onload = function(){
		document.getElementById("nav-main").classList.add('remover');
	}
</script>

{{ partial "cover" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "nav-alt" . }}

<a name="intro"></a>
<br /><br />

<div class="mw7 center ph3 fade-5">
{{ partial "media-block" (dict "heading" .Params.overview.heading "imageUrl" .Params.overview.image "text" .Params.overview.text "videolink" .Params.overview.videolink) }}
</div>

{{ partial "3-up" .Params }}

{{ partial "full-image-bg" (dict "image" .Params.careers.image "altimage" .Params.careers.altimage "heading" .Params.careers.heading "text" .Params.careers.text "buttonText" .Params.careers.buttonText "buttonLink" "/careers") }}

<!-- <div id="banner" class="center bg-black white pa3 tc">
	<p class="center">
		Mantra Bio Announces $25 Million Series A Financing to Develop Next Generation Targeted Exosome Therapeutics. <a href="http://www.prnewswire.com/news-releases/mantra-bio-announces-25-million-series-a-financing-to-develop-next-generation-targeted-therapeutics-based-on-platform-for-engineering-targeted-exosome-vehicles-301100664.html?tc=eml_cleartime" target="_blank">Read more »</a>
	</p>
</div> -->


{{ end }}
